{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'app/base.css' %}">

    <title>My Blog</title>

</head>


<body>
<h1>About myself</h1>
<img src="avatar.png" alt="Avatar" class="avatar">
<ul>
    <li><h3>My family</h3></li>
    <li><h3>My hobbi</h3></li>
    <li><h3>About my work</h3></li>
</ul>

<h2 class="blue">My family</h2>
    <p>Hi, Guys! Let me introduce myself: My first name is Vohidjon, my middle name is Erkinjonovich,
    my surname is Boyqo'ziyev. I'm thirty-eight years old. I've got a big family. There are eight people in my family.
    They are my father, my mother, me, my wife and four children. I've got two daughters and two sons.
    My older daughter is ten years old. She graduated 4th class. My younger daughter is seven years old,
    she graduated 1st class. My two sons still go to kindergarten. I'm interested in learning foreign languages,
    learning programming. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error est saepe! Corrupti et
    nisi deserunt porro adipisci, natus commodi non fugiat sit molestias quisquam cupiditate possimus dolor
    exercitationem hic!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam praesentium iusto
    quaerat voluptatum perspiciatis quis, accusamus amet voluptatibus deserunt, deleniti laudantium ad facilis quasi
    quas fuga eum autem laborum!
    </p>

<h2 class="blue">My hobbi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error est saepe! Corrupti et nisi deserunt
    porro adipisci, natus commodi non fugiat sit molestias quisquam cupiditate possimus dolor exercitationem hic!. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam praesentium iusto quaerat voluptatum perspiciatis
    quis, accusamus amet voluptatibus deserunt, deleniti laudantium ad facilis quasi quas fuga eum autem laborum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quo, recusandae alias sapiente repellat sequi fugiat
    suscipit minus quod expedita inventore consequuntur blanditiis, perspiciatis quasi neque earum aut quidem iste.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error est saepe! Corrupti et nisi deserunt porro
    adipisci, natus commodi non fugiat sit molestias quisquam cupiditate possimus dolor exercitationem hic!. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Sint quisquam praesentium iusto quaerat voluptatum perspiciatis quis,
    accusamus amet voluptatibus deserunt, deleniti laudantium ad facilis quasi quas fuga eum autem laborum!
    </p>

<h2 class="blue">About my work</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error est saepe! Corrupti et nisi deserunt porro
    adipisci, natus commodi non fugiat sit molestias quisquam cupiditate possimus dolor exercitationem hic!. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Sint quisquam praesentium iusto quaerat voluptatum perspiciatis quis,
    accusamus amet voluptatibus deserunt, deleniti laudantium ad facilis quasi quas fuga eum autem laborum! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Earum error est saepe! Corrupti et nisi deserunt porro adipisci, natus
    commodi non fugiat sit molestias quisquam cupiditate possimus dolor exercitationem hic!. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Sint quisquam praesentium iusto quaerat voluptatum perspiciatis quis, accusamus amet
    voluptatibus deserunt, deleniti laudantium ad facilis quasi quas fuga eum autem laborum!Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Earum error est saepe! Corrupti et nisi deserunt porro adipisci, natus commodi non
    fugiat sit molestias quisquam cupiditate possimus dolor exercitationem hic!. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Sint quisquam praesentium iusto quaerat voluptatum perspiciatis quis, accusamus amet voluptatibus
    deserunt, deleniti laudantium ad facilis quasi quas fuga eum autem laborum! 
    </p>

<footer>
    <p>Aloqa uchun</p>
    <p>Tel: +998944951590</p>
    <p>Email: vohidjonboyqoziyev@gmail.com</p>
    <p>Telegram: <a href="https://t.me/vohidjon_777">t.me/vohidjon_777</a></p>
    <p>Instagram: <a href="https://instagram.com/vohidjon_">@vohidjon</a></p>

    <div class="comment-section">
        <p>Comment:</p>
        <label>
            <textarea maxlength="200" rows="4" cols="50" placeholder="Write your comment here..."></textarea>
        </label>
        <br>
        <button type="button">Send</button>
    </div>
</footer>


</body>


</html>